{% extends 'base.html' %}
{% block content %}

        <!-- unviersity Start -->
        <div class="container-xxl py-3">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="section-title bg-white text-center text-primary px-3">Universites </p>
                    <p>Represented By Kashmir Career and Counselling</p>
                    <h1 class="mb-5">Our Esteemed Clients</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid rounded " src="/static/img/kcc-ptu.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-nims.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-lpu.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid rounded " src="/static/img/kcc-cgc.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-amity.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-stsoldier.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid rounded " src="/static/img/kcc-ptu.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-rayatBahra.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-jaipur.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid rounded " src="/static/img/kcc-babaFarid.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <img class="img-fluid rounded " src="/static/img/kcc-viveknanda.jpg" alt="No picture available">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded ">
                            <img class="img-fluid rounded" src="/static/img/kcc-saraswati.jpg" alt="No picture available">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- university End -->

        <!-- Services -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title bg-white text-start text-primary pe-3">Services!</p>
                        <h1 class="mb-4">Few Reasons Why Students Choosing Us!</h1>
                        <p class="mb-4">We Provide Quality Career, Counseling and Admission Services at an affordable
                            prices, We Believe In Providing Students Colleges / Universites of their own Choice, Where
                            they want to persue eduction in India. We are providing admissions in NAAC A+ Accreditation
                            Colleges throughout Inida.
                        </p>
                        <p><i class="fa fa-check text-primary me-3"></i>Expert Counselling Services</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Indentify Course, State/City &
                            College/University</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Aplication and Documentation Process</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Secure Admission</p>
                        <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="{% url 'admission' %}">Explore
                            More</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="rounded overflow-hidden">
                            <div class="row g-0">
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="/static/img/service.png" alt="">
                                        <h1 class="display-6">Counselling</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">Career Counselling</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">

                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="/static/img/experience.png" alt="kcc">
                                        <h1 class="display-6 text-white">Admission</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">Admission Guidance</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center bg-primary py-5 px-4">
                                        <img class="img-fluid mb-4" src="/static/img/client.png" alt="">
                                        <h1 class="display-6">Application</h1>
                                        <span class="fs-5 fw-semi-bold text-secondary">Application &
                                            Documentation</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="text-center bg-secondary py-5 px-4">
                                        <img class="img-fluid mb-4" src="/static/img/service.png" alt="">
                                        <h1 class="display-6 text-white">Enrollment</h1>
                                        <span class="fs-5 fw-semi-bold text-primary">Secure Admission With Joining
                                            Letter</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->

{% endblock %}
