{% extends 'base.html' %}
{% block content %}

        <!-- Page Header Start -->

        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container-fluid banner" data-parallax="scroll" data-image-src="/static/img/kcc-bg-allll.png">
                <div class="container text-center py-5">
                    <h1 class="display-3 text-white mb-4 animated slideInDown">Scholarships</h1>
                    <nav aria-label=" text-white breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li>Home / </li>
                            <li> Pages /</li>
                            <li class=""><a href="{%  url 'scholarship' %}">Scholarships</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Contact Start -->
        <div class="container-xxl">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="section-title bg-white text-center text-primary px-3">KCC Scholarships</p>
                    <h1 class="mb-5">Best Scholarships For Students</h1>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp mb-3" data-wow-delay="0.1s">
                    <p class="1">A Scholarship is an award of financial aid for a student to further their education
                        Scholarships are awarded based upon various criteria, which usually reflect the values and
                        purposes of the donor or Founder. Scholarships assist those with limited means keeping in mind
                        the end goal to achieve good education Scholarships may not always be in the form of financial
                        aid. Scholarships are classified into many forms.</p>
                </div>
            </div>

        </div>
        <!-- scholarships types starts here -->
        <!-- Scholarship -1 Starts -->
        <div class="container-xxl py-3">
            <div class="row g-5">

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="section-title bg-white text-center text-primary px-3">Scholarship 1</p>
                        <h1 class="mb-1"> Merit Based Scholarship</h1>
                    </div>
                    <div class="mb-3">
                        <p>Merit Based Scholarships are granted to student's academic achievement, athletic achievement, artist ability, participation in other extra-curricular activities, etc.</p>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- <img src="img/kcc-meritscho.png" class="img-fluid" alt="..."> -->
                </div>
            </div>
        </div>
        <!-- Step 2 end2 -->

        <!-- Step 3  starts -->
        <div class="container-xxl py-3">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img src="/static/img/kcc-scho2.png" class="img-fluid" alt="...">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="section-title bg-white text-center text-primary px-3">Scholarship 2</p>
                        <h1 class="mb-1">Student Specific Scholarhip</h1>
                    </div>
                    <div class="mb-5">
                        <p>Student Specific Scholarships are available to applicants of a certain gender, race, religion, ethnicity or medical history Minority qualifications will differ based on the type of scholarship</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- step 3 ends -->

        <!-- Step - 4 Starts -->
        <div class="container-xxl py-3">
            <div class="row g-5">

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="section-title bg-white text-center text-primary px-3">Scholarship 3</p>
                        <h1 class="mb-1"> Program / Career Based Scholarship</h1>
                    </div>
                    <div class="mb-5">
                        <p>Program specific scholarships are offered by individual programs or by the colleges and universities they may be in association with These scholarships are granted on the basis of a student's academic profile and personal achievement</p>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img src="/static/img/kcc-scho3.png" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <!-- Step 4 ends -->

        <!-- Need based scholarship -->
        <div class="container-xxl py-3">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- <img src="img/kcc-doctor.jpg" class="img-fluid" alt="..."> -->
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <p class="section-title bg-white text-center text-primary px-3">Scholarship 4</p>
                        <h1 class="mb-1">Need Based Scholarship</h1>
                    </div>
                    <div class="mb-5">
                        <p>Need based Scholarships are grants offered to help a student meet his/her college expenses. Eligibility is based solely on the assets and income of the prospective student and his or her family. Factors such as test scores or athletic ability have limited bearing on any aid designated need - based</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Need based scholarship -->

        <!-- scholarships types ends here -->

{% endblock %}
