{% extends 'base.html' %}
{% block content %}

        <!-- Page Header Start -->

        <div class="container-fluid page-header py-3 mb-3 wow fadeIn" data-wow-delay="0.2s">
            <div class="container-fluid banner" data-parallax="scroll" data-image-src="/static/img/kcc-hero2.jpg">
                <div class="container text-center py-5">
                    <h2 class="display-3 text-white mb-4 animated slideInDown">Admission Guidance</h2>

                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- aDmission guidance Start -->
        <div class="container-xxl py-3">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="section-title bg-white text-center text-primary px-3">Admission Guidance</p>
                </div>
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp fs-5" data-wow-delay="0.1s">
                        <div class="mb-3">
                            <p>With an Array of Academic Choices Amongst Destinations, Universities, Colleges and
                                courses Offered throughout INDIA, Making The right Decision Can be Difficult.<br><br>
                                KCC Have Widespread Official Tie Ups with Over 110+ Reputed Universities and Colleges
                                THROUGHOUT INDIA WE ARE REPRESETORS OF Universities in almost all the States of INDIA.
                                Our Relationship With Universities of Our Students Into The Universities Because We Know
                                What Institutions Need For A Good and Complication Institutions TOO ARE PLASED to Work
                                With Kashmir Career and Counseling Services. As They Recive Completed And Relevant
                                Applications This Results in
                                Institutions Prioritizing Their Response To Us</p>

                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <img src="/static/img/topic6.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!-- Admission Guidance End -->

        <!-- Step 1-->
        <div class="container-xxl py-3">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp py-5" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class=" bg-white text-center text-primary px-1">We Provide Step By Step Guidance
                        For The Complete Study Application Process That
                        Includes The Following Key Stages Thus Maximizing Your Chances of Getting Admission in The
                        Institution of Your Choice.</p>
                </div>
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <img src="/static/img/kcc-identi.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 500px;">
                            <p class="section-title bg-white text-center text-primary px-3">Step - 1</p>
                            <h1 class="mb-1"> Expert Free Counselling</h1>
                        </div>
                        <div class="mb-5">
                            <p>We at Kashmir Career And Counseling ensure that every effort is put in to understand the
                                student's needs. Each student is assigned a highly professional personal counselor one
                                that possesses thorough knowledge on the courses offered by Universities. We also
                                provide tailored packages to meet requirements in the light of one scholastic
                                capabilities, background, vocation objectives our counselors will assist you to achieve
                                your goals. The focus of every counselor at Kashmir Career And Counseling Services is to
                                ensure that the student is admitted to the best course and institution based on their
                                profile</p>
                            <h3 class="mb-4">Register Here</h3>
                            <div class="d-flex border-bottom pb-3 mb-3">
                                <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                                    <i class="fa fa-phone-alt text-body"></i>
                                </div>
                                <div class="ms-3">
                                    <h6>Call Us</h6>
                                    <span>7889758493</span>
                                </div>
                            </div>
                            <div class="d-flex border-bottom-0 pb-3 mb-3">
                                <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                                    <i class="fa fa-envelope text-body"></i>
                                </div>
                                <div class="ms-3">
                                    <h6>Mail Us</h6>
                                    <span>info@kcc.com</span>
                                </div>
                            </div>
                            <div class="d-flex border-bottom-0 pb-3 mb-3">
                                <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                                    <i class="far fa-comment text-body"></i>
                                </div>
                                <div class="ms-3">
                                    <h6>Chat Support</h6>
                                    <span><a href="#">Click Here</a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Step 1 Ends -->



        <!-- Step -2 Starts -->
        <div class="container-xxl py-3">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 500px;">
                            <p class="section-title bg-white text-center text-primary px-3">Step - 2</p>
                            <h1 class="mb-1"> Identify Course, University, & State</h1>
                        </div>
                        <div class="mb-5">
                            <p>Choosing The Right Course Is Very Imperative Our Counselors Will
                                Help You Shortlist The Course You Wish To Pursue That's Would Best Suit Your Personal,
                                ACADEMIC and FINANCIAL Profile / Parameters, and not Just Limited to the universities we
                                represent.
                                With the Wealth of Knowledge & Experience Our Counselors Have, We Save Your Time and
                                Money,
                                Map You To The Right University After ATER COUNSELORS HAVE CAREFULLY Reviewing your
                                Needs.<br><br>
                                MAKING AN INFORED DECISION is Paramount for the Student and the Counselor. Institutions
                                And
                                courses are identified after Carefully Analyzing The Students Caliber and Needs Our
                                Experts
                                Will Shortlist A Number of Suitable Institutions After Evaluating Your Profile Students
                                Finalize Institutions After Review Our Shortlisted Institutions After Consulting Parents
                                and
                                Friends. Selecting The Right Course, State and Institution is the Most Important
                                Decision
                                One Needs to Make in Your Life and Our Counselors Ensure That You Choose Correctly. Our
                                Counselors are Trained With Detailed Knowledge About Admission Processes Across
                                Institutions
                                and States and ALSO Assist in Connecting with Students at The Institutions
                                They Plan to Enroll in</p>
                            <h4 class="mb-4">You Choose Your Course, University And Place Where you want to Study.</h4>
                        </div>
                    </div>

                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <img src="/static/img/kcc-identification.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <!-- Step 2 end2 -->

            <!-- Step 3  starts -->
            <div class="container-xxl py-3">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <img src="/static/img/kcc-docs.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 500px;">
                            <p class="section-title bg-white text-center text-primary px-3">Step - 3</p>
                            <h1 class="mb-1"> Document Editing</h1>
                        </div>
                        <div class="mb-5">
                            <p>At Kashmri Career And Counseling Services, providing optimum results is of top priority
                                and
                                hence, every student's
                                application is thoroughly processed and reviewed to ensure nil errors. We give special
                                attention to your application, highlighting the areas essential for a well-presented,
                                error
                                free application Both minor and major problems in the application are rectified and
                                feedback
                                is given to the students. We see to it that all required documents are thoroughly
                                compiled
                                attested etc Documents need to be sealed and addressed meticulously. Our counselors are
                                always in touch with the students in order to ensure that students are well informed and
                                updated with the status of their application Once you have identified on your
                                universities,
                                the documents are analyzed by our experts Most colleges and universities have their own
                                specific requirements necessary for a complete application Adhering to these guidelines
                                ensures higher success and faster response</p>
                            <h6 class="mb-4">Statement Of Purpose (SOP) Guidelines.</h6>
                            <h6 class="mb-4">Latter Of Recommendation (LOR) Guidelines.</h6>
                            <h6 class="mb-4">Set Of Docs to be enclosed with each application</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- step 3 ends -->

        <!-- Step - 4 Starts -->
        <div class="container-xxl py-3">
            <div class="container">
                <div class="row g-5">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s"
                                style="max-width: 500px;">
                                <p class="section-title bg-white text-center text-primary px-3">Step - 4</p>
                                <h1 class="mb-1"> Application Process</h1>
                            </div>
                            <div class="mb-5">
                                <p>We give special attention to every application whether it is paper based or online
                                    Inspecting
                                    the last applications before sending them out to universities is imperative. The
                                    students
                                    and counselors jointly should set aside time and concentrate on checking
                                    applications before
                                    they are submitted to ensure an error

                                    free and well-presented application. Students draft their own documents, however it
                                    is
                                    essential to review the work for improvement In select cases we add on our
                                    personalized
                                    confidential assessment/recommendation to institutions highlighting your strengths
                                    and your
                                    suitability to be an ideal match to them.

                                    Most institutions have their specific requirements necessary for a complete
                                    application.
                                    Adhering to these guidelines ensures higher success and faster response We assist
                                    with
                                    courier dispatch and delivery tracking too.</p>
                                <h4 class="mb-4">After the completion of all these steps, we proide a secure ADMISSION
                                    LETTER.
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <img src="/static/img/kcc-admissiondone.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Step 4 ends -->
        
{% endblock %}